<% flash.each do |message_type, messages| %>
  <% messages.each do |message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
<% end %>

<h3 style = "color:#E0004D; font-weight: 600"> Import Aetna Claims </h3>
<hr>
<%= form_for(@claim, local: true) do |f| %>
  <h5><small>Please select entities covered under this plan:</small></h5>
  <div class="form-group" class="radio_button">
    <%= f.radio_button :Covered_entities, 'Employee Only' %> Employee Only &nbsp;
    <%= f.radio_button :Covered_entities, 'Employee+Spouse' %> Employee+Spouse &nbsp;
    <%= f.radio_button :Covered_entities, 'Employee+Child' %> Employee+Child &nbsp;
    <%= f.radio_button :Covered_entities, 'Family' %> Employee+Spouse+Child(ren)
  </div>
  <hr>
  <h5><small>Do you have any other form of medical/pharmacy insurance?</small></h5>
  <div class="form-group" class="radio_button">
    <%= f.radio_button :Other_insurance, '1' %> Yes &nbsp;
    <%= f.radio_button :Other_insurance, '0' %> No
  </div>
  <hr>
  <h5><small> Paste your data from Aetna's website below:</small></h5>
  <div class="form-group">
    <%= f.text_area :JSONInput, id: :claim_jsoninput, :rows => "200" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-info btn-sm btn-block" %>
  </div>
<% end %>
<hr>
<!-- <span class="badge badge-light">
<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  Import using CSV file
</a></span>
<div class="hidden_section">
  <div class="collapse" id="collapseExample">
    <div class="form-group" class="form-group-custom">
      <%= form_tag import_claims_path, multipart: true, class: "btn btn-light btn-sm" do %>
      <%= file_field_tag :file %>
    </div>
    <br>
    <div class="actions">
      <%= submit_tag "Upload Claims", class: "btn btn-info btn-sm btn-block" %>
    </div>
    <% end %>
  </div>
</div> -->
