
<h3> Import Claims </h3>

<h4> Via Chrome Plugin <h4>


<h5> Copy and Paste Data Below
<%= form_for(@claim, local: true) do |f| %>
  <%= f.text_field :JSONInput, id: :claim_jsoninput %>
  <%= f.submit 'Upload Claims'%>
<% end %>

<h4> Manual file upload <h4>

<%= form_tag import_claims_path, multipart: true do %>
 <%= file_field_tag :file %>
 <%= submit_tag "Upload Claims" %>
<% end %>
