
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <h3> Import Aetna Claims </h3>
  <hr>

  <script>
    function toggle_visibility(id) {
     var e = document.getElementById(id);
       if (e.style.display){
       e.style.display = ((e.style.display!='none') ? 'none' : 'block');
       }
       else {e.style.display='block'}
     }
   </script>

  <h5> Copy and Paste data below:  </h5>
  <%= form_for(@claim, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :JSONInput, id: :claim_jsoninput, :rows => "200" %>
    </div>
    <div class="actions">
      <%= f.submit 'Upload Claims', class: "btn btn-info btn-sm btn-block" %>
    </div>
  <% end %>
  <hr>
  <div class="hidden_section">
    <a onclick="toggle_visibility('manual');" style="cursor:pointer;"><u>Import using CSV file</u></a>
    <div id="manual" class="hidden">
      <br>
        <div class="form-group">
          <%= form_tag import_claims_path, multipart: true, class: "btn btn-light btn-sm" do %>
          <%= file_field_tag :file %>
        </div>
        <br>
        <div class="actions">
          <%= submit_tag "Upload Claims", class: "btn btn-info btn-sm btn-block" %>
        </div>
          <% end %>
    </div>
   </div>
  </div>
