<p id="notice"><%= notice %></p>

<p>
  <strong>Claim date:</strong>
  <%= @claim.claim_date %>
</p>

<p>
  <strong>Pharmacy:</strong>
  <%= @claim.pharmacy %>
</p>

<p>
  <strong>Drug:</strong>
  <%= @claim.drug %>
</p>

<p>
  <strong>Prescription cost:</strong>
  <%= @claim.prescription_cost %>
</p>

<p>
  <strong>Plan paid:</strong>
  <%= @claim.plan_paid %>
</p>

<p>
  <strong>Patient paid:</strong>
  <%= @claim.patient_paid %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
